.content {
    width: 100%;
    height: 100%;
}

.codeHeader {
    position: relative;
    width: 100%;
    height: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #000000;
}

.codeHeader .title {
    position: absolute;
    color: aqua;
    font-size: 24px;
    font-weight: bold;
    top: 25%;
}

.codeHeader img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.codeHeader .desc {
    position: absolute;
    color: white;
    font-size: 12px;
    top: 85%;
}

.codeHeader .desc .descContent {
    margin-right: 10px;
}

.codeContent {
    padding: 15px 20px;
}

.codeContent .codeCard {
    margin-bottom: 15px;
    box-shadow: 0px 0px 8px #888888;
    border-radius: 8px;
}

.codeContent .cardTitle {
    background-color: #f3efef;
    font-weight: bold;
    padding: 5px 15px;
}

.codeContent .cardContent {
    padding: 20px;
    padding-bottom: 0px;
}