{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["react-hot-loader/babel"],
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 2, // polyfill 需要使用@babel/runtime-codejs2
        "useBuildIns": "usage" // 按需引入, 即使用什么新特性打包什么新特性, 可以减小打包的体积
      }
    ],
    ["@babel/plugin-proposal-decorators", { "legacy": true }], // 装饰器
    ["@babel/plugin-proposal-class-properties", { "loose": false }], // 装饰器
    ["./scripts/plugin/auto-css-modules.js"], // 引入插件
    [
      "import",
      {
        "libraryName": "antd",
        "labraryDirectory": "es",
        "style": "css" // `style: true` 会加载 less 文件
      }
    ],
    [
      "import",
      {
        "libraryName": "ahooks",
        "labraryDirectory": "es",
        "camel2DashComponentName": false
      },
      "ahooks"
    ]
  ]
}
